.cardConteiner{
    width: 16rem;
    height: 22rem;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(0deg, rgb(255, 255, 255) 33%, white 33%, white 67%, rgb(0, 119, 255) 67%);
    margin: 1.5rem 1.5rem;
    &__content{
        text-align: center;
        height:min-content;
        &-edit{
            color: white;
            font-weight: 400;
            width: 2rem;
            position: absolute;
            top: .1rem;
            left: .3rem;
            
        }
        &-name{
            color: white;
            font-weight: 400;
            font-size: 1.3rem;
            ;margin: .6rem auto;
        }
        &-picture{
            border-radius: 50%;
            border: 5px solid white;
            background: white;
            width: 8rem
        };
        &-email{
            color: gray;
            font-size: .9rem
            ;margin: 1rem auto;
        }
        &-number{
            font-size: .9rem;
            color: gray;
            ;margin: 1rem auto;
        }
        &-location{
            font-size: .9rem;
            color: gray;
            ;margin: 1rem auto;
        }
    }



}